<ion-view view-title="Profile">
    <ion-content class="has-header">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="refreshCategory()"></ion-refresher>
        <div class="list card">
            <div class="item item-avatar">
                <img src="http://graph.facebook.com/{{user.id}}/picture?width=270&height=270">
                <h2 class="profile">{{user.name}}</h2>
            </div>
            <div class="subdued"><p>Categories</p>
                <a class="button icon-right ion-ios-plus-outline button-clear button-dark" ng-click="newCategory = ! newCategory; addNewCategory()"></a>
            </div>
            <form ng-submit="addGroup(group.name); newCategory = ! newCategory" ng-show="newCategory">
                <div>
                    <div class="list list-inset">
                      <label class="item inner item-input">
                        <input type="text" placeholder="New" ng-model="group.name" focus-on="createNewCategory">
                      </label>
                    </div>
                    <button class="button button-positive">
                          Save Category
                    </button>
                </div>
            </div>
            <div class="item item-body category" ng-repeat="group in categories | filter:search | orderBy:'-created'  track by group._id" >
              <a href="#/tab/category2" ng-click="getGroup(group._id, group.name)">
                <div class="item category">
                  <h2 class="category">{{group.name}}</h2>
                  <p class="category">{{group.created | date}}</p>
                </div>
              </a>
            </div>
          </div>
    </ion-content>
</ion-view>