<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta content='yes' name='apple-mobile-web-app-capable'>
    <meta content='white-translucent' name='apple-mobile-web-app-status-bar-style'>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <link rel="apple-touch-icon" href="./app-icon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./app-icon.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./app-icon.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./app-icon.png">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/ng-infinite-scroll.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  </head>
  <body ng-app="starter" onhashchange="soundcloud()">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <img src="./img/mobile.png" style="
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 370px;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-height: 88%;
    top: 5%;
    z-index: 999;
">
    <div id="main-container">
      <div class="bar bar-subheader">
        <label class="item-input-wrapper search">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="search" id="search"> 
          <input style="display:none !important;" type="search" placeholder="Search" ng-model="searchCategory">
          <button class="button" ng-show="search" ng-click="clearSearch()">X</button>
        </label>
      </div>
      <ion-nav-bar class="bar bar-header">
        <ion-nav-back-button class="button-clear">
          <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
        <button class="button button-clear button-light">M</button>
      </ion-nav-bar>
      <div class="buffer"></div>
      <!--
        The views will be rendered in the <ion-nav-view> directive below
        Templates are in the /templates folder (but you could also
        have templates inline in this html file if you'd like).
      -->
      <ion-nav-view></ion-nav-view>
    </div>

    <script type="text/javascript">
    var soundcloud = function() { 
      $('iframe#soundcloud').each(function(){
        var src = $(this).attr('content');
        $(this).attr('src', src);
      });
    }

    </script>
  </body>
</html>